{% extends "blog/base.html" %}
{% load static %}
{% block title %} Главная {% endblock title %}
{% block content %}
    <ul class="menushka">
        <li>
          <a href="#"> <strong> Основные сведения </strong> <i class='bx bxs-chevron-down arrow' ></i> </a>
            <ul>
              <li><a href="#">Структура и органы управления образовательной организации</a></li>
              <li>
                <a href="#"> Стипендии и меры поддержки обучающихся </a>
              </li>
                <li><a href="#"> Образование </a></li>
                <li><a href="#"> Образовательные стандарты и требования </a></li>
                <li><a href="#"> Руководство педагогическому составу </a></li>
                <li><a href="#"> Материально-техническое обеспечение </a></li>
                <li><a href="#"> Платные образовательные услуги </a></li>
                <li><a href="#"> Финансово-хозяйственная деятельность </a></li>
                <li><a href="#"> Вакантные места для приема (перевода) </a></li>
                <li><a href="#"> Доступная среда </a></li>
                <li><a href="#"> Международное сотрудничество </a></li>
                <li><a href="#"> <p> Организация питания в образовательной организации </p> </a></li>
            </ul>
        </li>
    </ul>

    <div class="main-text">
        <img src="{% static 'blog/img/picture.png' %}" width="350" class="image">

        <p> <strong>Добро пожаловать! Мы рады приветствовать
        Вас на сайте МАОУ Сибирский лицей г. Томска!</strong> </p>

        <p> Муниципальное общеобразовательное учреждение Сибирский лицей г. Томска
        был открыт в <strong>1994</strong> году посредством реорганизации УНПО "Прогресс" c сохранением
        преемственности традиции профессиональной подготовки, ориентированной не
        столько на узкую профессиональную специализацию, сколько на интеллектуальное,
        духовное и культурное развитие личности учащихся. </p>

        <p> У истоков организации МОУ Сибирский лицей г. Томска стояли Деева Лариса
        Ивановна, Поликарпова Зинаида Терентьевна, Костюкова Татьяна Анатольевна.
        Постановлением администрации Города Томска от 07.10.2010 г. № 1073 создано
        Муниципальное автономное общеобразовательное учреждение Сибирский лицей
        г. Томска (сокращенное наименование - МАОУ Сибирский лицей г. Томска) путем
        изменения типа существующего муниципального общеобразовательного учреждения
        Сибирского лицея г. Томска. </p>

        <p> <strong>Учредителем и собственником имущества</strong> МАОУ Сибирский лицей г. Томска
        является муниципальное образование «Город Томск», от имени которого выступает
        администрация муниципального образования «Город Томск». Функции и полномочия
        Учредителя осуществляет <strong>департамент образования администрации Города
        Томска.</strong> </p>

        <p> <strong>Контактный телефон учредителя:</strong> 90-99-44. </p>

        <p> <strong>Электронная почта учредителя:</strong> departament@obr.admin.tomsk.ru </p>

        <p> <strong>Всероссийский телефон доверия для детей, подростков и их родителей:</strong>
        8-800-2000-122. </p>

        <p> <strong>Представительств и филиалов у МАОУ Сибирского лицея г. Томска нет.</strong> </p>

        <p> <strong>Место нахождения МАОУ Сибирского лицея г. Томска:</strong>

        г.Томск, ул. Усова,56. </p>

        <p> <strong>Режим работы МАОУ Сибирский лицей г. Томска (далее - лицей):</strong> </p>

        <p> 1. Пятидневная рабочая неделя для 7, 8-х классов. </p>
        <p> 2. Шестидневная рабочая неделя для 9-11-х классов. </p>

        <p> <strong>График работы:</strong> </p>

        <p> 1-я смена - 08:30 до 13:40 </p>

        <p> 2-я смена - 14:10 до 19:50 </p>

        <p> <strong>Контактные телефоны:</strong> </p>

        <p> 555-791 – приёмная </p>

        <p> 553-557 – вахта </p>

        <p> 553-465 - факс </p>

        <p> <strong>Адрес электронной почты:</strong> sibliz@education70.ru </p>

        <p> Иных мест осуществления образовательной деятельности, в том числе не указанных
        в приложении к лицензии на осуществление образовательной деятельности, в МАОУ
        Сибирском лицее г. Томска не имеется. </p>
    </div>

{% endblock content %}

{% block style %}
    p {
        margin-bottom: 15px;
    }

    div.main-text {
        background: var(--sidebar-color);
        padding: 0px 15px 3px 15px;
        border-radius: 6px;
        margin-top: 15px;
    }

    img.image {
        border-radius: 6px;
        margin-left: -10px;
    }
{% endblock style %}