{% extends "blog/base.html" %}
{% block title %} Удаление новости {% endblock title %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Удаление записи</legend>
                <h2>Вы уверены, что хотите удалить эту запись? <strong>"{{ object.title }}" </strong> </h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit"> Да, я хочу удалить </button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Отмена</a>
            </div>
        </form>
    </div>
{% endblock content %}

{% block style %}
    button.btn.btn-outline-danger {
        background: var(--sidebar-color);
        color: var(--text-color);
        border: none;
        border-radius: 6px;
        padding: 0px 15px 0px 15px;
        font-size: 20px;
    }

    button.btn.btn-outline-danger:hover {
        background: var(--primary-color);
        color: white;
        border: none;
        border-radius: 6px;
        font-size: 20px;
    }

    legend.border-bottom.mb-4 {
        position: relative;
        top: 40;
        font-weight: bold;
    }

    h2 {
        font-weight: normal;
    }

    a.btn.btn-outline-secondary {
        color: var(--text-color);
        font-size: 20px;
        background: var(--sidebar-color);
        padding: 0px 15px 0px 15px;
        border-radius: 6px;
    }

    a.btn.btn-outline-secondary:hover {
        color: white;
        font-size: 20px;
        background: var(--primary-color);
    }
{% endblock style %}